* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
overflow-x: hidden;
}

/* hero section */
#hero {
    position: relative;
    /*  background-color: antiquewhite; */
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    filter: brightness(40%);
}
#hero_content{
    position: absolute;
}
#hero_content h1{
    color: aliceblue;
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px #000;
    letter-spacing: 10px;
}
#hero_content h2{
    color: aliceblue;
    font-size: 2rem;
    font-family: cursive;
    margin-top: 1rem;
    margin-bottom: 4rem;
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px #000;
}
#hero_content a{
    color: aliceblue;
    padding: 3px 20px 3px 20px;
    border: 2px solid orange;
    background: rgb(0,0,0,0.6);
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none;
}
#hero_content a:hover{
    background-color: rgb(0,0,0,0.6);
    border:2px solid rgb(12, 12, 12);
    color: rgb(232, 232, 232);
    font-size: 25px;
}

/* header section */

#header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
}
#navbar{
    display: flex;
    justify-content: space-around;
    background: rgba(12, 12, 12, 0.5);
}
#navbar h1{
    color: #fff;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #000;
    font-family: cursive;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    padding: 3px 15px 3px 15px;
}
#navbar ul li:hover,
#mobile_menu ul li:hover{
    background-color: rgb(0,0,0,0.6);
    border:2px solid rgb(12, 12, 12);
    color: rgb(232, 232, 232);
    cursor: pointer;
    font-size: 20px;
}
#navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
#phone a{
text-decoration: none;
color: #fff;
font-size: 18px;
padding: 2px 20px 2px 20px;
border: 1px solid rgb(70, 70, 70);

}

#mobile_menu{
    display: none;
    height: 40px;
    line-height: 40px;
    background: rgb(68, 46, 68);
    box-shadow: rgb(0,0,0,0.1);
}

#mobile_menu ul{
    display: flex;
    justify-content: center;
}
#mobile_menu ul li{
    list-style: none;
    padding: 0 5px 0 5px;
}
#mobile_menu ul li a{
    text-decoration: none;
    color: aliceblue;
}
 #cntct button{
    background-color: #fb0000;
    padding: 10px;
    margin: 10px;
    width: 113px;
    border-radius: 10px;
 }
 #cntct button a{
    text-decoration: none;
    color: #f1f1f1;
 }
 
 #cntct button:hover ,
 #phone a:hover{
    background-color: transparent;
    color: whitesmoke;
    border-radius: 10px;
    border: 2px solid whitesmoke;
 }
.cart{
    padding: 6px;
    font-size: 27px;
}
.cart i{
    color: aliceblue;
    font-size: 35px;
 }
 .cart a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
 }


/* menu section */

#menu{
    padding: 25px 0px 25px 0px;
}
.heading {
    background-color: brown;
    color: aliceblue;
    margin-bottom: 18px;
    padding: 10px 0;
    grid-column: 1/-1;
    text-align: center;
}
.menu {
    padding: 0 10px 30px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px 40px;
}

.heading>h1 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 20px;
    margin-bottom: 10px;
}
.food-items {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.food-items img {
    position: relative;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

h1 {
    grid-column: 1/-1;
    text-align: center;
}

.details {
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}

.details-hub {
    display: grid;
    grid-template-columns: auto auto;
}

.details-hub>h5 {
    font-weight: 600;
    font-size: 18px;
}

.price {
    text-align: right;
}

.details>p {
    color: rgb(20, 20, 20);
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.details>button {
    background-color: red;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}


/* about section */ 

#about{
    padding: 25px 0 25px;
}
#about_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
}
.about_col{
    flex: 1;
}
#section{
    font-size: 40px;
    font-weight: bold;
}
#about_img{
    height: 300px;
    width: 330px;
    border-radius: 50%;
    margin: auto;
}
#about_img img{
   width: 100%;
   height: 100%;
   border-radius: 50%;
    object-fit: fill;
}
.about_col h1{
    text-align: center;
    font-family: cursive;
    padding: 15px;
}
.about_col p{
    text-align: justify;
    font-weight: bold;
}

/* contact section */

#contact{
    padding: 25px 0 25px 0;
}
#contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap ;
}
.contact-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 10px;
}
.contact-col form{
    display: flex;
    flex-direction: column;
    background-color: #523452;
    width: 50%;
    padding: 20px 40px;
}
.contact-col form h2{
    text-align: center;
    font-family: cursive;
    color: #bbb;
}
.contact-col form input{
    width: 100%;
    height: 17px;
    padding: 5px;
    margin: 5px;
}
.contact-col form textarea{
width: 100%;
padding: 5px;
margin: 5px;
}
.contact-col form button{
    margin: auto;
    color: #191616;
    background-color: #aeaeac;
    border: 1px solid #403b33;
    border-radius: 19px;
    font-size: 20px;
    padding: 18px;
    margin: 26px;
}
.contact-col form button:hover{
    background-color: #000;
    color: whitesmoke;
}
/* footer section */

#footer{
    background-color: #4b4b4b;
    padding: 8px;
    position: relative;
}
#footer h3{
    text-align: center;
    color: orange;
    border: 2px solid black;
    background-color: #fafafa;
}
#footer h3 a{
    color: #080808;
    text-decoration: none;
}
#top{
    position: relative;
    bottom: 12px;
    right: 12px;
}
#top a{
color: #fff;
font-size: 1.2rem;
}
.contact_col{
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;
    padding: 10px;
}
.contact_col p,  h2{
    font-weight: bold;
    color: #9c9393;
    margin: 10px;
    padding: 7px;
}
.contact_col p a{
    text-decoration: none;
    color: #ffebeb;
}
#social{
margin: 3px;
}
i{
    padding: 10px;
}
p i{
    padding: 10px;
}

@media screen and (max-width: 768px){
    #mobile_menu{
        display: block;
    }
    #navbar ul{
        display: none;

    }
    html{
        font-size: 95%;
    }
  #menu_row, #about_row,#contact-row{
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 360px){
    html{
        font-size: 70%;
    }
    #about_img{
        height: 220px;
        width: 220px;
    }
    
}

